@media (min-width: 475px) {
  .login-form {
    padding: 0 100px;
    margin: 100px auto;
    width: 50%;
  }
}
.span-one {
  margin-top: 50px;
  color: #33475b;
}
.span-tow {
  margin-top: 50px;
  color: #ff7a59;
}
.meeting {
  text-align: center;
  font-size: 30px;
}
.signup {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
}
.label {
  color: #33475b;
  font-size: 13px;
  line-height: 24px;
  float: right;
  margin-bottom: 10px;
}
.submit {
  width: 100%;
  padding: 10px 0 !important;
  margin-bottom: 30px;
  background-color: #ff7a59;
  border: 1px solid #ff7a59;
  color: white;
  border-radius: 5px;
  outline: none;
}

.submit:hover {
  background-color: #ff8f73;
  border-color: #ff8f73;
}

.disabled {
  width: 100%;
  padding: 10px 0 !important;
  margin-bottom: 30px;
  background-color: #eaf0f6 !important;
  border-color: #eaf0f6 !important;
  color: #b0c1d4 !important;
  cursor: not-allowed;
  border-radius: 5px;
  outline: none;
}

hr {
  width: 40%;
  margin-top: 30px !important;
}
input {
  width: 100% !important;
  padding: 10px 0 !important;
  box-sizing: border-box;
}
.input-element {
  width: 100%;
  padding: 9px 10px !important;
  border: 1px solid #cbd6e2;
  border-radius: 5px;
  display: block;
  font: inherit;
  margin-bottom: 30px;
  font-size: 16px;
  transition: all 0.15s ease-out;
  background-color: #f5f8fa;
  color: #33475b;
  outline: none;
}

.input-element:focus {
  border: 1px solid #ff7a59;
}
input[type='checkbox'] {
  width: 10% !important;
  float: right;
  margin-top: 5px;
}

.error {
  color: red;
  font-size: 12px;
  float: right;
  margin-top: -30px;
}
