@font-face {
  src: url(font/Vazir.woff);
  font-family: vazir;
}

* {
  direction: rtl;
  font-family: vazir;
}

.intro {
  background: #3b455b url('image/intro_bg.jpg');
  background-size: cover;
  color: white;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
}

.intro-overlay {
  border-bottom: 1px solid red;
}

.header {
  text-align: center;
}

.logo h1 {
  padding-top: 20px;
  margin-bottom: 60px;
}

.intro-headline {
  text-align: center;
}

.intro-headline h1 {
  font-size: 30px;
}

.intro-headline h2 {
  font-size: 20px;
  color: #abb2c3;
}

.intro-action {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.intro-action .button {
  background: #515c72;
}

.intro-action .button.primary {
  background: #75c062;
}

.button {
  outline: none !important;
  border: none;
  position: relative;
  display: inline-block;
  color: white;
  font-size: 0.75em;
  font-weight: bold;
  text-decoration: none;
  margin: 0 5px;
  padding: 10px 15px;
  background: #5c6881;
  border-radius: 7px;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.button.primary {
  background: #75c062;
}

.intro-shots {
  text-align: center;
}

.intro-shots .desktop {
  background: url('image/desktop.png');
  background-size: cover;
  position: relative;
  display: inline-block;
  width: 88%;
  height: 548px;
}

.intro-shots .mobile {
  position: absolute;
  top: 410px;
  background: url('image/mobile.png') no-repeat;
  background-size: cover;
  width: 250px;
  height: 514px;
}

.landing {
  text-align: center;
}

.seperator:before {
  content: '';
  display: inline-block;
  width: 460px;
  height: 1px;
  background: #d9dde3;
}

.landing h3 {
  color: #75c062;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.landing h4 {
  font-size: 25px;
  margin-bottom: 40px;
  color: #4c4d4f;
}

.features .feature .image {
  margin-bottom: 15px;
  float: right;
}

.features .feature .image img {
  width: 50px;
}

.text {
  text-align: right;
  float: right;
}

.text p {
  font-size: 0.875em;
  color: #7d8594;
}

.question {
  text-align: right;
  margin-bottom: 50px;
}

.question h6 {
  font-size: 1.125em;
  font-weight: normal;
  color: #828b9a;
  margin: 0 0 5px 0;
}

.landing-button .seperators:after {
  content: '';
  display: inline-block;
  height: 1px;
  background: #d9dde3;
  width: 460px;
}

.landing-button {
  text-align: center;
}

.landing-button h3 {
  color: #75c062;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.landing-button h4 {
  font-size: 25px;
  margin-bottom: 40px;
  color: #4c4d4f;
}

.section-footer {
  background: #f5f6f8;
  clip-path: polygon(0 34%, 100% 0, 100% 100%, 0% 100%);
}

.footer {
  padding-top: 150px;
  text-align: center;
}

.footer p {
  color: #9a9fa8;
  font-size: 13px;
}

.footer h6 {
  margin-bottom: 25px;
  text-align: right;
}

ul {
  list-style: none;
  padding-right: 0;
}

.footer li {
  padding-top: 5px;
  color: #9a9fa8;
  font-size: 13px;
  text-align: right;
}
